# General system
alias ls='ls --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias la='ls -la --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias ll='ls -ll --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias sudo='sudo '                      # For sudo use in aliases
alias rm="rm -i"
alias grep='grep --color=tty -d skip'	# Color my grep!
alias cp="cp -i"                        # confirm before overwriting something
alias free='free -m'                    # show sizes in MB
alias top='htop'						# Good old top
alias cd..="cd .."						# Forgot the space? Ah well
alias mkdir="mkdir -pv"					# Create parent folders too
alias df="df -Tha --total"				# Human readable and total amount
alias wget="wget -c"					# Did the download break? No worries 
alias pdf=mupdf							# PDF and IRC client
alias irc="urxvt -hold -name irc -e zsh -c 'tmux new-session irssi'" 
alias msfconsole="msfconsole --quiet -x \"db_connect ${USER}@msf\""
alias proxychains="proxychains "

# Package Management (update)
alias cownew="~/dotfiles/scripts/cownew.sh"
alias cowup="~/dotfiles/scripts/cowup.sh"
alias update="/home/stick/dotfiles/scripts/update.sh"

# List of keks 
alias wtf='dmesg'
alias icanhas='mkdir'
alias donotwant='rm'
alias dowant='cp'
alias gtfo='mv'
alias hai='cd'
alias plz='pwd'
alias nomnom='killall'
alias cya='reboot'
alias kkthxbye='halt'

# Kek git
alias such=git
alias very=git
alias wow='git status'

# Mother of all aliases! Makes fileutils more verbose
for c in cp rm chmod chown rename; do
    alias $c="$c -v"
done
