! Cursor Theme
Xcursor.theme: Vanilla-DMZ

! URxvt General
URxvt.modifier: mod1
URxvt.depth: 32
URxvt.background: [85]#1c2023
URxvt.scrollBar: false
URxvt.internalBorder: 10
URxvt.letterSpace: -1
UXTerm*bellIsUrgent: true

URxvt.colorUL: #4682B4
URxvt*cutchars: `"()'*<>[]{|}

URxvt.cursorBlink: true
URxvt.cursorUnderline: true

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt.font: xft:EnvyCodeR:size=14:antialias=true
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! Extensions
URxvt.perl-ext-common: default,resize-font,matcher,keyboard-select,selection-to-clipboard

URxvt.url-launcher: /usr/bin/firefox -new-tab
URxvt.matcher.button: 1

URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! Colors - colors everywhere!
rofi.color-enabled:                  true
rofi.color-normal:                   argb:00000000, #1aa, argb:11FFFFFF, #1aa,#333
rofi.color-urgent:                   argb:00000000, #f99, argb:11FFFFFF, #f99,#333
rofi.color-active:                   argb:00000000, #aa1, argb:11FFFFFF, #aa1,#333
rofi.color-window:                   argb:ee333333, #1aa,#1aa
rofi.separator-style:                dash

! special
*.foreground:   #c7ccd1
*.background:   #1c2023
*.cursorColor:  #c7ccd1
! black
*.color0:       #1c2023
*.color8:       #747c84
! red
*.color1:       #c7ae95
*.color9:       #c7ae95
! green
*.color2:       #95c7ae
*.color10:      #95c7ae
! yellow
*.color3:       #aec795
*.color11:      #aec795
! blue
*.color4:       #ae95c7
*.color12:      #ae95c7
! magenta
*.color5:       #c795ae
*.color13:      #c795ae
! cyan
*.color6:       #95aec7
*.color14:      #95aec7
! white
*.color7:       #c7ccd1
*.color15:      #f3f4f5
